<%- include('partials/header') %>


<div class="d-flex" id="wrapper">
    
    <!-- sidebar -->
    <div class="bg-white " id="sidebar-wrapper">

      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <i class="fas fa-user-secret me-2"></i> <%= user.username %>
      </div>

      <div class="list-group list-group-flush my-3">
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text active">
          <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a href="#settings" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-project-diagram me-2"></i> Settings
          <!-- <i class="fas fa-cogs"> Settings -->
        </a>
        <!-- admin -->
        <a href="/signup" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-chart-line me-2"></i> New user
        </a>
        <!-- admin -->

        <a href="/newRoom" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-shopping-cart me-2"></i> New Room
        </a>
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-paperclip me-2"></i> Reports
        </a>
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-comment-dots me-2"></i> Chat
        </a>
        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fas fa-sign-out-alt fa-sm"></i> Logout
        </a>
      </div>
    </div>
    

    <div id="page-content-wrapper">

      <!-- navbar and dropdown -->
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        
        <div class="d-flex align-items-center">
          <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
          <h2 class="fs-2 m-0">Welcome <%= user.fullname %></h2>
        </div>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">

              <a href="#" class="nav-link dropdown-toggle second-text fw-bold" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
                <!-- <i class="fas fa-user me-2"></i> John Doe -->
                <img src="images/bbc-nodejs.png" width="40" height="40" class="img-fluid rounded" alt="User Image"><span class="mx-2">Username</span>

              </a>
              
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a href="#" class="dropdown-item"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile</a>
              <a href="#settings" class="dropdown-item"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings</a>
              <a href="#" class="dropdown-item"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout</a>
            </div>

            </li>
          </ul>
        </div>
        
      </nav>
  

      <!-- inside content -->
      <div class="container-fluid px-4">
        
        <!-- first content ADMIN -->
        <div class="row my-2 g-3">
          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-2">270</h3>
                <p class="fs-5">Products</p>
              </div>
              <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-2">4920</h3>
                <p class="fs-5">sales</p>
              </div>
              <i class="fas fa-hand-holding fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-2">3899</h3>
                <p class="fs-5">Delivery</p>
              </div>
              <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-2">%25</h3>
                <p class="fs-5">Increase</p>
              </div>
              <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>
        </div>

        <!-- second content (settings) -->
        <div class="row my-5" id="settings">
          <h3 class="mb-3">Settings </h3>
          <p>No user found</p>

          <div class="bg-white">
            <h3>Ajayi Nathanael I</h3>
            <p>Department</p>
            <p>Address</p>         
            <p>Department</p>
            <p>Address</p>         
          </div>

        </div>

        <!-- third content (table recent users) ADMIN -->
        <div class="row my-5">
          <h3 class="fs-4 mb-3">Recent users</h3>
          <div class="col">
            <p>No user found</p>

            <table class="table bg-white rounded shadow-sm">

              <thead>
                <tr>
                  <th scope="col" width="50">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">4</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- fourth content (table recent rooms) ADMIN -->
        <div class="row my-5">
          <h3 class="fs-4 mb-3">Recent Rooms</h3>
          <p>No available room</p>
          <div class="col">
            <table class="table bg-white rounded shadow-sm">

              <thead>
                <tr>
                  <th scope="col" width="50">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>

                <tr>
                  <th scope="row">4</th>
                  <td>TV</td>
                  <td>Micheal</td>
                  <td>$500</td>
                  <td class="btn btn-danger text-dark">Delete</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

    <script>
      var el = document.getElementById("wrapper");
      var toggleButton = document.getElementById("menu-toggle");

      toggleButton.onclick = function () {
        el.classList.toggle("toggled");
      }

    </script>

<%- include('partials/footer') %>
